/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Body base */
body {
    background: linear-gradient(145deg,
            var(--color-bg-main) 0%,
            var(--color-bg-main) 40%,
            var(--color-bg-alt) 100%
            );
    color: var(--color-text-main);
    font-family: var(--font-main);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

/* Global typography */
h1, h2, h3, h4 {
    font-weight: 600;
}

p, a {
    line-height: 1.4;
}

button {
    display: block;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
}

img, a , input, span{
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}



footer {
    text-align: center;
    font-size: var(--fs-caption);
}